/*
    用于美化Rank List的css
*/
/* div */
div.table_title {
    font-weight: bold;
}

div.score {
    color: darkgreen;
}

div.first_ac {
    color: limegreen;
}

div.time {
    font-size: 8px;
    color: gray;
}

div.ratio {
    color: midnightblue;
}

div.error {
    color: red;
}

/* th */
th.rank {
    width: 10px;
}

th.name {
    width: 270px;
}

/* td */
td.rank {
    color: palevioletred;
    background: url("images/bullet2.gif");
    background-size: cover;
}

/* a */
a.problem {
    color: mediumblue;
    text-decoration: underline;
}

/* a */
a.user_name {
    font-family: 'SimHei';
    font-weight: bolder;
    font-size: 14px;
    color: rebeccapurple;
}

/* span */
span.error {
    font-size: 9px;
    color: darkred;
}

span.ac {
    color: green;
}

span.tried {
    color: gray;
}